header{
  text-align: center;
  font-size: 10em;
  width: 1000px;
  height: 200px;
  border: solid;
  display: block;
  align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-image: url(../img/fundo_logo.jpg);
  font-family: "myFirstFont";
}

article{
  width: 1000px;
  height: 1200px;
  border: solid;
  display: block;
  align: center;
  box-sizing: border-box;
  font-family: "myFirstFont";
}


body{
  border: solid;
  padding: 100px 100px;
  width: 1200px;
  height: 1600px;
  box-sizing: border-box;
  margin: 100px auto;
  background-image: url(../img/fundo2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "myFirstFont";
}

@font-face {
   font-family: myFirstFont;
   src: url(../fonts/EASPORTS15.tff);
}

