@font-face{
  font-family: ea;
  src: url(../fonts/EASPORTS15.ttf);
}

.border{
	border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

	border: 0px solid #080808;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);	
}

header{
  text-align: center;
  font-size: 10em;
  width: 1000px;
  height: 200px;
  border: solid;
  display: block;
  align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-image: url(../img/fundo_logo.jpg);
  font-family: ea;
  color: #FFFFF0;
  
}

article{
  position: absolute;
  padding: 50px;
  width: 1000px;
  height: 300px;
  border: solid;
  display: block;
  box-sizing: border-box;
  font-family: ea;
  color: #FFFFF0;
  background-color:rgba(28, 28, 28, 0.8);
}


body{
  border: solid;
  padding: 100px 100px;
  width: 1200px;
  height: 800px;
  box-sizing: border-box;
  margin: 100px auto;
  background-image: url(../img/fundo2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: ea;
  color: #FFFFF0;
}


