<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8"/></meta>
    <link rel="stylesheet" href="../css/comum.css"/>
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    {{#if error}}
      <section class="messagebar error">
        {{error}}
      </section>
    {{/if}}
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>
    <article>
      <form id="cadastroform" name="cadastroform">
        <section>
          <input id="mostraimagem" class="avatar" type="image" src="../img/perfil.png"/>
          <input id="imagem" name="imagem" type="file" accept="image"/>
        </section>
        <section>
          Nome de usuário: <input id="usuario" name="usuario"/><br/>
          Nome: <input id="nome" name="nome"/><br/>
          E-mail: <input id="email" name="email"/><br/>
          Senha: <input id="senha" name="senha" type="password"/><br/>
          Confirmação de senha: <input id="confirmacao" name="confirmacao" type="password"/><br/>
        </section>
        <button id="botaocadastro">Cadastrar</button>
      </form>
    </article>
    <script src="../js/cadastro.js"></script>
    <script src="../js/comum.js"></script>
  </body>
</html>
