<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8"/></meta>
    <link rel="stylesheet" href="../css/comum.css">
  </head>
  <body>
    <img id="erro" src="../img/erro1.jpg";>
    <script src="../js/comum.js"></script>
    <script src="../js/erro.js"></script>
  </body>
</html>
