<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8"/></meta>
    <link rel="stylesheet" href="../css/comum.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    {{#if error}}
      <section class="messagebar error">
        {{error}}
      </section>
    {{/if}}
    {{#if success}}
      <section class="messagebar success">
        {{success}}
      </section>
    {{/if}}
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>
    <article>
       <h1>Libertadêro</h1>
      FIFA, também conhecido como FIFA Football ou FIFA Soccer, é uma série de videojogos de simuladores de futebol, lançados anualmente pela Electronic Arts (EA) sobre a chancela EA Sports. <br/>
Este site é para os amantes do jogo que estão cansados de terem que criar planilhas de excel ou rabiscos bizarros para registrar a tabela de classificação daquele fifinha maroto com os amigos. Nele você pode criar seu próprio campeonato, inscrever times e ver a pontuação dos times. <br/>
Existe também um joguinho super maneiro de pong que você pode jogar até que seus Brothers cheguem para o campeonato. <br/>
A regra é clara – Parte 1: Mata-mata! Perdeu passou a manete! (ou teclado, ou o que for). <br/>
A regra é clara – Parte 2: NÃO VALE DAR CARRIM  MANO!!! <br/>
A regra é clara – Parte 3: Juiz do vídeo game não roba! <br/>
    </article>
    <section id=login>
      <form id="loginform" name="loginform" method="GET">
        {{#if user}}
          <section id="depois" ><!--class="oculto"-->
            Bem-vindo, {{user.nome}}.<br/>
            <input id="botao-logout" type="button" value="Logout"/><br/>
          </secion>
        {{else}}
          <section id="antes">
            Usuário: <input id="usuario" name="usuario"/><br/>
            Senha: <input id="password" name="password" type="password"/><input id="botao-login" type="button" value="Login"/><br/>
            <a href="/cadastro">Cadastre-se</a>
          </section>
        {{/if}}
      </form>
    </section>
    <section id="bola">
      <a href="pong"><img src="img/bola.png" class="bola"></a>
    </section>
    <script src="../js/comum.js"></script>
  </body>
</html>
