<!DOCTYPE html>
<html>
  <head>
    <title>Libertadêro</title>
    <meta charset="utf-8"/></meta>
    <link rel="stylesheet" href="../css/comum.css"/>
    <link rel="stylesheet" href="../css/ver-campeonato.css"/>
  </head>
  <body>
    <header>
		  <img src="../img/logo.png"/> LIBERTADÊRO
    </header>
    <nav>
      <form id="menu" name="menu" method="GET">
        <section id="inicial" class="menuitem">
          Página Inicial
        </section>
        <section id="campeonatos" class="menuitem">
          Campeonatos
        </section>
        <section id="perfil" class="menuitem">
            Perfil
        </section>
      </form>
    </nav>
    <article class="ladoalado">
      <section>
        Participantes
        <ul>
          <li>Cruzeiro</li>
          <li>Atlético-MG</li>
          <li>América-MG</li>
          <li>São Paulo</li>
          <li>Corinthians</li>
          <li>Palmeiras</li>
          <li>Grêmio</li>
          <li>Internacional</li>
        </ul>
      </section>
      <section>
        Partidas
        <table>
          <thead>
            <tr>
              <th>
                Time 1
              </th>
              <th>
                Placar
              </th>
              <th>
                Time 2
              </th>
              <th>
                Fase
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Cruzeiro
              </td>
              <td>
                6x1
              </td>
              <td>
                Atlético-MG
              </td>
              <td>
                Final
              </td>
            </tr>
            <tr>
              <td>
                Cruzeiro
              </td>
              <td>
                3x1
              </td>
              <td>
                América-MG
              </td>
              <td>
                Semifinal
              </td>
            </tr>
            <tr>
              <td>
                São Paulo
              </td>
              <td>
                0x1
              </td>
              <td>
                Cruzeiro
              </td>
              <td>
                Quartas-de-final
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <input id="partidasconcluidas" type="hidden" value="4"/>
        <input id="numtimes" type="hidden" value="8"/>

        Concluído
        <section id="barra">
          <section id="concluido">

          </section>
        </section>
      </section>
    </article>
    <section id=login>
      <section id="antes">
        Usuário: <input id="usuario"/><br/>
        Senha: <input id="password" type="password"/><input id="botao-login" type="button" value="Login"/><br/>
        <a href="cadastro.html">Cadastre-se</a>
      </section>
      <section id="depois" class="oculto">
        Bem-vindo, <span id="nomeusuario"></span>.<br/>
        <input id="botao-logout" type="button" value="Logout"/><br/>
      </secion>
    </section>
    <script src="../js/ver-campeonato.js"></script>
    <script src="../js/comum.js"></script>
  </body>
</html>
